.card {
    width: 80%;
    max-width: 600px;
    height: fit-content;
    background-color: #F6CACF;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    padding: 20px;
    border-radius: .8rem;
}

.card div:nth-of-type(2) {
    text-align: right;
    margin-left: 30px;
}

