header {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: rgb(226, 92, 155);
    cursor: pointer;
}

.buttons-field {
    width: fit-content;
}