breaker {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5vw ;
}

breaker h2 {
    font-size: clamp(1rem, 4vw, 4rem);
    font-weight: 500;
    width: 40%; 
    text-align: center;
}

breaker::before {
    display: inline;
    width: 40%;
    height: 2vw;
    content: "";
    background-color: #5B79F1;
}

breaker::after {
    display: inline;
    width: 40%;
    height: 2vw;
    content: "";
    background-color: #5B79F1;
}

