info-field:first-of-type {
    width: 100%;
    max-width: 1200px;
    margin: 2vw auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

info-field:first-of-type img {
    width: 50%;
}

text-field{
    display: flex;
    flex-direction: column;
}

text-field h2 {
    font-size: clamp(1.2rem, 4vw, 3rem);
    text-align: left;
    text-indent: 15px;
    margin-left: -15px;
}

text-field p {
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
}

/*Second info-field formatation*/
info-field:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: auto;
}

info-field:nth-of-type(2) img {
    width: 100%;
}

info-field:nth-of-type(2) p {
    margin-top: 0;
}