.in-construction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.in-construction h2 {
    font-size: clamp(1rem, 10vw, 42px);
}

.in-construction img {
    width: 50%;
    max-width: 400px;
}

.in-construction p {
    text-align: center;
    max-width: 380px;
}

.in-construction Button {
    width: 15%;
    min-width: 60px;
}