.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.not-found h2 {
    font-size: clamp(1rem, 10vw, 42px);
}

.not-found img {
    width: 50%;
    max-width: 400px;
}

.not-found p {
    text-align: center;
    max-width: 380px;
}

.not-found Button {
    width: 15%;
    min-width: 60px;
}