button {
    cursor: pointer;
}

.pink-background {
    background-color: pink;
    color: white;
    padding: .4rem .3rem;
    margin: auto 1rem;
    border: none;
    border: .5px solid pink;
    border-radius: .3rem;
    font-weight: 700;

}

.white-background {
    background-color: white;
    color: pink;
    padding: .4rem 2rem;
    margin: auto 1rem;
    border: .5px solid pink;
    border-radius: .3rem;
    font-weight: 700;
}

/*HomePage*/
info-field:first-of-type .pink-background {
    font-size: clamp(.8rem , 3vw , 2rem);
    max-width: 50%;
    align-self: flex-end;
}

info-field:nth-of-type(2) .pink-background {
    width: 80%;
    font-size: clamp(.8rem , 3vw , 2rem);
    margin: 4vw auto 5vw auto;
}