footer {
    height: fit-content;
    width: 100%;

    margin: auto;
    background-color: #333333;
    display: flex;
    justify-content: center;
}

footer p {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}